#thanks span,
#thanks b {
  display: inline-block;
  -webkit-transform: translateZ(90px);
  -moz-transform:    translateZ(90px);
  -ms-transform:     translateZ(90px);
  -o-transform:      translateZ(90px);
   transform:        translateZ(90px);

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

#thanks .firstname {
  -webkit-transform: translateZ(-90px);
  -moz-transform:    translateZ(-90px);
  -ms-transform:     translateZ(-90px);
  -o-transform:      translateZ(-90px);
  transform:         translateZ(-90px);
}

#thanks .middlename {
  -webkit-transform: translateZ(90px);
  -moz-transform:    translateZ(90px);
  -ms-transform:     translateZ(90px);
  -o-transform:      translateZ(90px);
  transform:         translateZ(90px);
}

#thanks .lastname {
  -webkit-transform: translateZ(-90px);
  -moz-transform:    translateZ(-90px);
  -ms-transform:     translateZ(-90px);
  -o-transform:      translateZ(-90px);
  transform:         translateZ(-90px);
}

#thanks .footnote {
  font-size: 32px;
  -webkit-transform: translateZ(-50px);
  -moz-transform:    translateZ(-50px);
  -ms-transform:     translateZ(-50px);
  -o-transform:      translateZ(-50px);
  transform:         translateZ(-50px);
}

#thanks.present span,
#thanks.present b {
  -webkit-transform: translateZ(0px);
  -moz-transform:    translateZ(0px);
  -ms-transform:     translateZ(0px);
  -o-transform:      translateZ(0px);
  transform:         translateZ(0px);
}

ul > li:before {
  font-family: "Font Awesome 5 Free";
  font-size: 0.75em;
  content: "\f0a4";
  display: block;
  float: left;
  width: 1.0em;
  color: #c05757;
  margin-right: 10px;
}

.slide q {
  font-size: 50px !important;
  line-height: 60px !important;
  margin-top: 30px !important;
}
